* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

html, body {
    height: 100vh;
    background-color:#ff9999;
}

.container-page {
    display: flex;
    position: relative;
}

.wrapper-nav-content {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 80%;
}

header {
    width: 100%;
    min-height: 70px;
    background-color: brown;
    display: flex;
}

nav {
    display: flex;
    width: 100%;
    height: 69px;
    background-color: brown;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 20%;
    height: 100%;
    background-color: lightgrey;
}
 /* Nav Style */

.wrapper-logo-nav {
    display: none;
}

.wrapper-search {
    display: flex;
    flex: 1;
    justify-content: center;
}

.wrapper-search > input {
    padding: 7px 30px;
    border: 1px;
}

.wrapper-search > button {
    border: 0;
    padding: 0 11px;
    background-color: coral;
}

.wrapper-profile {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2rem;
}

.wrapper-profile > .profile {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: aqua;
}

/* Aside Style */

.wrapper-logo {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-tablet {
    width: 40px;
    height: 40px;
    background-color: lightseagreen;
    display: none;
}

.wrapper-aside {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0;
    width: 80%;
    height: 600px;
}

.card-aside-1 {
    width: 100%;
    height: 100px;
    background-color: saddlebrown;
    margin-bottom: 2rem;
}

.card-aside-2 {
    width: 100%;
    height: 110px;
    background-color: forestgreen;
    margin-bottom: 2rem;
}

/* Main Style */

.wrapper-main-content {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 6rem;
    gap: 3rem;
}

.card-main {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: coral;
    flex-direction: column;
    justify-content: flex-end;
}

.card-main > button {
    padding: 10px;
    background-color: lightslategray;
}

/* Media Query Tablet */

@media screen and (max-width:1280px) {
    
    aside {
        width: 15%;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .wrapper-nav-content {
        width: 85%;
    }

    .wrapper-logo-nav {
        display: flex;
        flex: 1;
        margin-left: 1.5rem;
    }

    .logo-tablet {
        display: block;
    }

    .logo {
        display: none;
    }

    .wrapper-main-content {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-row: auto;
        justify-content: center;
        margin-top: 3rem;
        gap: 2rem;
        
    }

    .card-main {
        display: flex;
        width: 200px;
        height: 200px;
        background-color: coral;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px) {

    .container-page {
        flex-direction: column;
    }

    .wrapper-nav-content {
        order: 1;
        width: 100%;
    }


    nav > .wrapper-search {
        display: none;
    }


    aside {
        order: 2;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: sticky;
        bottom: 0;
        height: 55px;
    }

    .wrapper-logo {
        flex: 1;
    }

    .wrapper-aside {
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        height: 55px;
    }

    .card-aside-1 {
        width: 40px;
        height: 40px;
        background-color: saddlebrown;
        margin-bottom: 0;
    }
    
    .card-aside-2 {
        width: 40px;
        height: 40px;
        background-color: forestgreen;
        margin-bottom: 0;
    }

    
}